portfolio/schemas/page.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="page">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="meta">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:string" />
              <xs:element name="title" type="xs:string" />
              <xs:element name="description" type="xs:string" minOccurs="0" />
              <xs:element name="template" type="xs:string" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="content">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="section" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="heading" type="xs:string" minOccurs="0" />
                    <xs:element name="body" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- Blog post element -->
  <xs:element name="post">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="meta">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:string" />
              <xs:element name="title" type="xs:string" />
              <xs:element name="date" type="xs:date" />
              <xs:element name="excerpt" type="xs:string" minOccurs="0" />
              <xs:element name="tags" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tag" type="xs:string" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="content" type="xs:string" />
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- Resume element -->
  <xs:element name="resume">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="meta">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:string" />
              <xs:element name="title" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="intro" type="xs:string" minOccurs="0" />
        
        <xs:element name="positions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="position" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="title" type="xs:string" />
                    <xs:element name="company" type="xs:string" />
                    <xs:element name="dates" type="xs:string" />
                    <xs:element name="description" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="education" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="degree" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="institution" type="xs:string" />
                    <xs:element name="year" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="skills" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="skill" type="xs:string" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
