portfolio/schemas/project.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="project">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="meta">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:string" />
              <xs:element name="title" type="xs:string" />
              <xs:element name="subtitle" type="xs:string" minOccurs="0" />
              <xs:element name="date" type="xs:string" minOccurs="0" />
              <xs:element name="client" type="xs:string" minOccurs="0" />
              <xs:element name="role" type="xs:string" minOccurs="0" />
              <xs:element name="thumbnail" type="xs:string" minOccurs="0" />
              <xs:element name="tags">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tag" type="xs:string" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="summary" type="xs:string" />
        
        <xs:element name="content">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="section" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="heading" type="xs:string" />
                    <xs:element name="body" type="xs:string" />
                    <xs:element name="media" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="image" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="src" type="xs:string" use="required" />
                              <xs:attribute name="alt" type="xs:string" use="required" />
                              <xs:attribute name="caption" type="xs:string" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="embed" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="type" type="xs:string" use="required" />
                              <xs:attribute name="src" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="outcomes" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="outcome" type="xs:string" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
